.simple-swiper {
  width: 100%;
  height: 540px;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
}

.image-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.custom-prev {
  left: 2%;
}

.custom-next {
  right: 2%;
}

/* адаптация */
@media (max-width: 1024px) {
  .simple-swiper {
    height: 320px;
  }
}

@media (max-width: 640px) {
  .simple-swiper {
    height: 200px;
  }

  .custom-prev,
  .custom-next {
    font-size: 2rem;
  }
}